
terraform/*

#allowlist
!terraform/*.tf
!terraform/*.tfvars
!terraform/*.tfvars.example
!terraform/.terraform.lock.hcl

#blocklist
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/terraform.tfvars


.DS_Store
.vscode/